@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --clr-cream: #FEF9D9;
    --clr-blue: #8EACCD;
    --clr-red: #d90429;
    --clr-light-red: #fa143a;
    --clr-green: #52b788;
    --clr-light-green: #23bd45;

    --fs-md: 0.85rem;
    --fs-lg: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    width: 100%;
    background-color: var(--clr-cream);
}

.container {
    width: 700px;
    padding: 20px 15px 10px;
    min-height: 100%;
}

.input-wrapper {
    display: grid;
    gap: 1rem;
    width: 100%;
}

.input-wrapper input {
    max-width: 100%;
    padding: 12px 0px 12px 16px;
    font-size: var(--fs-md);
    border: none;
    outline: none;
    border-radius: 6px;
    letter-spacing: 1.2;
}

.btn {
    border: none;
    padding: 8px 12px;
    font-size: var(--fs-lg);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}

.btn-save {
    background-color: var(--clr-green);
}

.btn-delete {
    background-color: var(--clr-red);
}

.btn-save:hover {
    background-color: var(--clr-light-green);
}

.btn-delete:hover {
    background-color: var(--clr-light-red);
}

.btn:active {
    box-shadow: inset 4px 4px 5px rgba(31, 31, 31, 0.5);
}

.links-container {
    list-style: none;
    margin-top: 1rem;
    font-size: var(--fs-lg);
}

.links-container li {
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: var(--clr-blue);
    font-weight: 800;
    text-wrap: pretty;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.message {
    font-size: 1rem;
    color: var(--clr-red);
    font-weight: bold;
    margin-block: 0.5rem;
}